.footer{
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 81, 110);
    width: 100%;
    display: flex;
    margin-right: 2rem;

}
.footer_inf{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 5rem; 
}
.footer_inf:hover{
    color: rgb(187, 184, 184);
}
